.styledPopover {
  display: flex;
  flex-direction: column;
  padding: 16px;

  gap: 16px;
}

.styledBtn {
  display: flex;
  align-items: center;

  background-color: inherit;
  border: none;

  padding: 0;
}

.styledText {
  font-family: 'Roboto';
  color: black;
  font-size: 16px;

  margin-left: 8px;
}

.fav {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.hide {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
