.headerCont {
  position: relative;
  max-width: 320px;
  width: 100%;
  margin: 20px auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1312px;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -2%;
}

.logoIcon {
  margin-right: 12px;
}

.mainLinks {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 28px;

  margin-right: auto;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 390px;
  }
}

.navMains {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  transition: color 1s ease;
  letter-spacing: 0%;
}

.navMains.active {
  color: #ffdc86;
}

.navMains:hover {
  color: #ffdc86;
}

.authBtns {
  visibility: hidden;

  @media screen and (min-width: 768px) {
    visibility: visible;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
}

.loginBtn {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;

  background-color: transparent;
  border: none;

  transition: color 1s ease;
}

.loginBtn:hover {
  color: #ffdc86;
}

.registrBtn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  color: #fff;

  background-color: black;
  border: none;
  border-radius: 12px;

  padding: 14px 39px;
  transition: color 1s ease;
}

.registrBtn:hover {
  color: #ffdc86;
}

.burgerVisible {
  visibility: visible;

  @media screen and (min-width: 768px) {
    visibility: hidden;
  }
}
